<div class="container">
  <h2>Candidate Details</h2>
  <a [routerLink]="'/candidate/list'">Back to Candidate List</a>
  <h4>Candidate Information</h4>
  <form *ngIf="candidate" class="example-form">
    <input
      type="hidden"
      [(ngModel)]="candidate.id"
      id="id"
      name="candidateId"
    />

    <mat-form-field class="example-full-width">
      <input
        name="First Name"
        matInput
        placeholder="First Name"
        [(ngModel)]="candidate.firstName"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        name="Last Name"
        matInput
        placeholder="Last Name"
        [(ngModel)]="candidate.lastName"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        name="Position Type"
        matInput
        placeholder="Position Type"
        [(ngModel)]="candidate.positionType"
      />
    </mat-form-field>
    <div>
      <button
        class="mr-3"
        mat-raised-button
        color="primary"
        (click)="saveCandidate()"
      >
        Save
      </button>
      <a mat-raised-button routerLink="/candidate/list">Cancel</a>
    </div>
  </form>
  <h4>Tests</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody *ngIf="candidateLoaded">
      <tr *ngFor="let test of candidate.tests">
        <td
          [routerLink]="['/test-builder/', test.testId]"
          class="clickable name-cell"
        >
          {{ test.name }}
        </td>
        <td *ngIf="test?.hasQuestions"
          [routerLink]="['/test-player/', test.testId]"
          class="clickable icon-cell"
          bgcolor="#3f51b5"
        >
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button
      (click)="openDialog()"
      mat-icon-button
      color="primary"
      aria-label="Add Test"
    >
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
</div>
