<html>
  <body>
    <mat-toolbar class="menu-bar" color="primary">
      <span>Relias Interview Tool</span>
      <a [routerLink]="''"
        ><button id="home-btn" mat-button>
          <i class="material-icons">
            home
          </i>
        </button></a
      >
      <span class="fill-space"></span>
      <div>
        <button id="min-btn" mat-button>
          <i class="material-icons">
            minimize
          </i>
        </button>
        <button id="max-btn" mat-button>
          <i class="material-icons">
            filter_none
          </i>
        </button>
        <button id="close-btn" mat-button>
          <i class="material-icons">
            clear
          </i>
        </button>
      </div>
    </mat-toolbar>

    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
