<div class="container">
  <a [routerLink]="['']" routerLinkActive="router-link-active"
    ><i class="material-icons"> keyboard_backspace </i
    ><span> Back to Dashboard</span></a
  >

  <h4>Question Detail</h4>

  <form *ngIf="question" class="example-form">
    <input
      type="hidden"
      [(ngModel)]="question.questionId"
      id="questionId"
      name="questionId"
    />

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Question"
        [(ngModel)]="question.text"
        name="text"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea
        name="description"
        matInput
        placeholder="Description"
        [(ngModel)]="question.description"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <mat-select name="type" [(ngModel)]="question.type">
            <mat-option [value]="0">Behavioral</mat-option>
            <mat-option [value]="1">Technical</mat-option>
        </mat-select>    
        <!-- <input
          name="type"
          matInput
          placeholder="Type"
          [(ngModel)]="question.type"
        /> -->
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Level</mat-label>
        <mat-select name="level" [(ngModel)]="question.level">
            <mat-option [value]="0">Junior</mat-option>
            <mat-option [value]="1">Mid</mat-option>
            <mat-option [value]="2">Señor</mat-option>
        </mat-select>
        <!-- <input
          name="level"
          matInput
          placeholder="Level"
          [(ngModel)]="question.level"
        /> -->
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        name="answer"
        matInput
        placeholder="Answer"
        [(ngModel)]="question.answer"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="saveQuestion()"
      class="mr-3"
    >
      Save
    </button>
    <a mat-raised-button routerLink="/question/list">Cancel</a>
  </form>
</div>
